doctype html
html(ng-app="calc")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js")
        script(src="./index.js")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
        link(href="./styles.css" rel="stylesheet")
    body(ng-controller="MainController as c")
        .container
            .row
                .col
                    .h2.mb-3.mt-3 Orion Sphere Skill Calculator
            .row.mb-3
                .col-7
                    .row
                        .col
                            ul.nav.nav-tabs
                                li.nav-item(ng-click="c.setPage('combat')")
                                    a.nav-link(href="" ng-class="{active: c.activePage === 'combat'}") Combat
                                li.nav-item(ng-click="c.setPage('profs')")
                                    a.nav-link(href="" ng-class="{active: c.activePage === 'profs'}") Professions
                                li.nav-item(ng-click="c.setPage('psi')")
                                    a.nav-link(href="" ng-class="{active: c.activePage === 'psi'}") Psionics
                            //small Concerned with fighting, resisting injury and attacks, and weapons training.
                    .row
                        .col
                            .list-group
                                .list-group-item.skill(ng-repeat="skill in c.skills" ng-class="{req:skill.prerequisite, disabled: c.isDisabled(skill)}")
                                    .skill-info
                                        .skill-name {{skill.name}}
                                        .skill-desc {{skill.description}}
                                    .skill-cost(ng-click="c.handleAddSkillButtonClick(skill)") {{ skill.cost() }}{{skill.stacks && !skill.stacksAreFree ? "*" : ""}}
                .col
                    |Points Spent: {{c.totalPoints - c.points}}/{{c.totalPoints}}
                    .list-group
                        .selected-skill.list-group-item(ng-repeat="selected in c.selectedSkills")
                            .selected-skill-name {{selected.skill.name}} {{selected.hasRank ? ("[Rank " + selected.rank + "]") : ''}}
                            .selected-skill-cost {{selected.cost}}
                            button.selected-skill-delete.btn.btn-danger(ng-click="c.handleRemoveSkillButtonClick(selected.skill)") Remove