doctype html
html(ng-app="calc")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(property="og:image" content="https://tomforster.github.io/orion-sphere-skills/images/logo.jpg")
        meta(property="og:description" content="A skill calculator for Orion Sphere LRP.")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js")
        script(src="./index.js")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
        link(href="./styles.css" rel="stylesheet")
        link(rel="icon" type="image/png" href="./images/favicon-32x32.png" sizes="32x32")
        link(rel="icon" type="image/png" href="./images/favicon-16x16.png" sizes="16x16")
        title Orion Sphere Skill Calculator
    body(ng-controller="MainController as c")
        .container
            .row
                .col
                    .h2.mb-3.mt-3 Orion Sphere Skill Calculator

            .d-block.d-sm-block.d-md-block.d-lg-none.mb-3
                .row
                    .col
                        select.form-control.form-control-sm(ng-model="c.selectedSpecies" ng-change="c.handleSpeciesChanged()" ng-options="species.name for species in c.speciesTypes")
                            option(value="" selected) Select a species
                    .col
                        .points-total Points
                            span.d-none.d-sm-inline  Spent
                            span : {{c.totalPoints - c.points}}/{{c.totalPoints}}
                .row
                    .col
                        .list-group
                            .selected-skill.list-group-item(ng-repeat="skill in c.selectedSkills")
                                .selected-skill-name {{skill.name}} {{skill.stacks ? ("[Rank " + skill.count + "]") : ''}}
                                .selected-skill-cost {{skill.pointsSpent()}}
                                button.selected-skill-delete.btn.btn-danger(ng-click="c.handleRemoveSkillButtonClick(skill)") Remove

            .row.mb-3
                .col-lg-7
                    .row
                        .col
                            ul.nav.nav-tabs
                                li.nav-item(ng-click="c.setPage('combat')")
                                    a.nav-link(href="" ng-class="{active: c.activePage === 'combat'}") Combat
                                li.nav-item(ng-click="c.setPage('profs')")
                                    a.nav-link.d-none.d-sm-block(href="" ng-class="{active: c.activePage === 'profs'}") Professions
                                    a.nav-link.d-block.d-sm-none(href="" ng-class="{active: c.activePage === 'profs'}") Profs
                                li.nav-item(ng-click="c.setPage('psi')")
                                    a.nav-link(href="" ng-class="{active: c.activePage === 'psi'}") Psionics
                                li.nav-item(ng-click="c.setPage('species')")
                                    a.nav-link(href="" ng-class="{active: c.activePage === 'species'}") Species
                    .row
                        .col
                            .list-group
                                .list-group-item.page-info(ng-if="c.activePage === 'species'")
                                    |Some skills and abilities are limited to certain species, either as a result of biology, culture or upbringing. Only members of that specific species can purchase these skills.

                                .list-group-item.skill(ng-repeat="skill in c.skills" ng-class="{group:skill.baseCost === 0, req:skill.prerequisite && skill.prerequisite.baseCost > 0, disabled: c.isDisabled(skill)}" ng-click="c.handleAddSkillButtonClick(skill)")
                                    .skill-info
                                        .skill-name {{skill.name}}
                                        .skill-desc {{skill.description}}
                                    .skill-cost(ng-if="skill.baseCost") {{ skill.cost() }}{{skill.stacks && !skill.stacksAreFree ? "*" : ""}}
                .col.d-none.d-sm-none.d-md-none.d-lg-block
                    .row.no-gutters
                        .col
                            select.form-control.form-control-sm(ng-model="c.selectedSpecies" ng-change="c.handleSpeciesChanged()" ng-options="species.name for species in c.speciesTypes")
                                option(value="" selected) Select a species
                        .col
                            .points-total Points Spent: {{c.totalPoints - c.points}}/{{c.totalPoints}}
                    .row
                        .col
                            .list-group
                                .selected-skill.list-group-item(ng-repeat="skill in c.selectedSkills")
                                    .selected-skill-name {{skill.name}} {{skill.stacks ? ("[Rank " + skill.count + "]") : ''}}
                                    .selected-skill-cost {{skill.pointsSpent()}}
                                    button.selected-skill-delete.btn.btn-danger(ng-click="c.handleRemoveSkillButtonClick(skill)") Remove