.row.no-gutters
    .col
        select.form-control.form-control-sm(ng-model="c.selectedSpecies" ng-change="c.handleSpeciesChanged()" ng-options="species.name for species in c.speciesTypes")
            option(value="" selected) Select a species
    .col
        .points-total Points
            span.d-none.d-sm-inline &nbsp;Spent
            span : {{c.totalPoints - c.points}}/{{c.totalPoints}}
            .add-button
.row
    .col
        .list-group
            .selected-skill.list-group-item(ng-repeat="skill in c.selectedSkills")
                .selected-skill-name {{skill.name}} {{skill.stacks ? ("[Rank " + skill.count + "]") : ''}}
                .selected-skill-cost {{skill.pointsSpent()}}
                button.selected-skill-delete.btn.btn-danger(ng-click="c.handleRemoveSkillButtonClick(skill)") Remove