@colour1: #428;
@colour2: #6531c7;

body
{
  background-color: #2f2f2f;
  color: white;
}

.header
{
  display:flex;
  align-items: center;
}

.logo
{
  height:55px;
  margin-right:10px;
}

.nav-tabs
{
  display:flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px transparent;

  .nav-item
  {
    flex-grow:1;
    text-align: center;
  }
}

.nav-tabs .nav-link.active
{
  background-color: #646464;
  color: white;
  border-bottom-color: #646464;
}

.nav-tabs .nav-link
{
  color: white;
  font-size: 1.3em;
  padding: 3px 3px 4px;

  border-bottom: 1px transparent;
}

.skill, .page-info
{
  display:flex;
  flex-direction: row;
  padding:5px 7px 7px;
  background-color: #646464;
  border-color: #dee2e6;
  border-radius: 0 !important;
  cursor: pointer;

  &.group
  {
    pointer-events: none;
    background-color: #3f3f3f;
  }

  &.req
  {
    margin-left:10px;
  }

  &.disabled
  {
    background-color: #959595;
    color: #d8d8d8;
    pointer-events: none;

    .skill-cost
    {
      background-color: #818181;
    }
  }

  .skill-cost
  {
    width:2rem;
    height:2rem;
    background-color: @colour1;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:5px;
    font-size:1.2em;
    user-select: none;
    border: #3d3d3d;
    margin-top: 3px;
    padding-bottom: 2px;

    &:hover
    {
      background-color: @colour2;
    }
  }

  .skill-name
  {
    font-size:0.9em
  }

  .skill-desc
  {
    font-size:0.7em;
  }

  .skill-info
  {
    flex-grow:2;
  }
}

.page-info
{
  font-size: 0.9em;
  background-color: #7a7a7a;
}

label{
  display: block;
}

small{
  line-height:1.5em;
  font-size:0.7em;
  display:block;
}

.selected-skill {
  display: flex;
  flex-direction: row;
  padding: 7px;
  background-color: #646464;

  //&:hover
  //{
  //  background-color: #f9f9f9;
  //}

  .selected-skill-name {
    flex-grow: 2;
  }

  .selected-skill-cost {

  }

  .selected-skill-delete {
    padding: 3px;
    line-height: 1em;
    margin-left: 10px;
    //  background-color: @colour1;
    //  border-color: @colour1;
    //  color: white;
    //
    //  &:hover
    //  {
    //    background-color: @colour2;
    //    border-color: @colour2
    //  }
    //}
  }
}

.points-total
{
  font-size: 1.3em;
  text-align: right;
  height: 1.8em;
}

.wiki-link
{
  color: #c1a6f3;
  pointer-events: auto;
  &:hover
  {
    color: #aa92d6;
  }
}