body
{
  background-color: #3d3d3d;
  color: white;
}

.nav-tabs
{
  display:flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px transparent;

  .nav-item
  {
    flex-grow:1;
    text-align: center;
  }
}

.nav-tabs .nav-link.active
{
  background-color: #646464;
  color: white;
  border-bottom-color: #646464;
}

.nav-tabs .nav-link
{
  color: white;
  font-size: 1.3em;
  padding-top: 3px;
  padding-bottom: 4px;

  border-bottom: 1px transparent;
}

.skill, .page-info
{
  display:flex;
  flex-direction: row;
  padding:7px;
  background-color: #646464;
  border-color: #dee2e6;
  border-radius: 0 !important;
  cursor: pointer;

  &.group
  {
    pointer-events: none;
  }

  &.req
  {
    margin-left:10px;
  }

  &.disabled
  {
    background-color: #959595;
    color: #c7c7c7;
    pointer-events: none;
  }

  .skill-cost
  {
    width:2rem;
    height:2rem;
    background-color: #3f3f3f;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:5px;
    font-size:1.2em;
    user-select: none;
    border: #3d3d3d;


    &:hover
    {
      background-color: #7a7a7a;
    }
  }

  .skill-name
  {
    font-size:0.9em
  }

  .skill-desc
  {
    font-size:0.7em;
  }

  .skill-info
  {
    flex-grow:2;
  }
}

.page-info
{
  font-size: 0.9em;
  background-color: #7a7a7a;
}

label{
  display: block;
}

small{
  line-height:1.5em;
  font-size:0.7em;
  display:block;
}

.selected-skill
{
  display:flex;
  flex-direction: row;
  padding:7px;
  background-color: #646464;

  //&:hover
  //{
  //  background-color: #f9f9f9;
  //}

  .selected-skill-name
  {
    flex-grow:2;
  }

  .selected-skill-cost
  {

  }

  .selected-skill-delete
  {
    padding:3px;
    line-height: 1em;
    margin-left: 10px;
  }
}

.points-total
{
  font-size: 1.3em;
  text-align: right;
  height: 1.8em;
}