body {
  background-color: #3d3d3d;
  color: white;
}
.skill {
  display: flex;
  flex-direction: row;
  padding: 7px;
  background-color: #646464;
}
.skill.req {
  margin-left: 10px;
}
.skill.disabled {
  background-color: #959595;
  color: #c7c7c7;
}
.skill.disabled .skill-cost {
  pointer-events: none;
}
.skill .skill-cost {
  width: 2rem;
  height: 2rem;
  background-color: #3f3f3f;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  font-size: 1.2em;
  cursor: pointer;
  user-select: none;
  border: #3d3d3d;
}
.skill .skill-cost:hover {
  background-color: #7a7a7a;
}
.skill .skill-name {
  font-size: 0.9em;
}
.skill .skill-desc {
  font-size: 0.7em;
}
.skill .skill-info {
  flex-grow: 2;
}
label {
  display: block;
}
small {
  line-height: 1.5em;
  font-size: 0.7em;
  display: block;
}
.selected-skill {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  padding: 7px;
  background-color: #646464;
}
.selected-skill .selected-skill-name {
  flex-grow: 2;
}
.selected-skill .selected-skill-delete {
  padding: 3px;
  line-height: 1em;
  margin-left: 10px;
}
